<h2>Login</h2>
<form action="/main" method="post" style="margin-top:15px; border: solid 2px black; padding:4px">
    <label for="usrMail">Username:</label>
    <input id="usrMail" name="username" type="email" required>
    <label for="usrPass">Password:</label>
    <input type="password" name="password" required>
    <input type="submit" name="" value="login">
</form>
<form action="/register" method="get" style="margin-top: 15px">
    <input type="submit" name="" value="Go to register">
</form>