<h2>Register new user</h2>
<form action="/register" method="post" style="margin-top:15px; border: solid 2px black; padding:4px">
    <label for="usrMail">Username:</label>
    <input id="usrMail" name="username" type="email" required>
    <label for="usrPass">Password:</label>
    <input type="password" name="password" required>
    <input type="submit" name="" value="register user">
</form>
<form action="/" method="get" style="margin-top: 15px">
    <input type="submit" name="" value="Go to login">
</form>